#Puerto
PORT = 8000

#Configuracion de la Base de Datos
# Para MySQL de Railway
DATABASE_URL = mysql+pymysql://root:uCjcqBcpUrryejQBqQsTXjHjtgBtGFXx@gondola.proxy.rlwy.net:49855/railway

# Para SQLite local (comentado)
# DATABASE_PATH = './database/'
# DATABASE_NAME = 'truckguard.db'

#Configuracion de la API URL
API_URL = 'http://localhost:8000'

#Configuracion de JWT
JWT_SECRET_KEY = a-string-secret-at-least-256-bits-long
JWT_ACCESS_TOKEN_EXPIRES = 3600

#Configuracion de Email
MAIL_HOSTNAME = 
MAIL_SERVER = 
MAIL_PORT = 
MAIL_USE_TLS =
MAIL_USERNAME = 
MAIL_PASSWORD = 
FLASKY_MAIL_SENDER = 

#serivicio de google
API_KEY= key